<table class="mat-table">
  <thead>
  <tr class="mat-header-row">
    <th *ngIf="user && !user.roles.includes('ROLE_CLIENT')"></th>
    <th class="mat-header-cell">ID</th>
    <th class="mat-header-cell">Name</th>
    <th class="mat-header-cell">Price</th>
    <th class="mat-header-cell">Spare part name</th>
    <th class="mat-header-cell">Car brand</th>
    <th class="mat-header-cell">Car model</th>
    <th class="mat-header-cell">Spare part price</th>
  </tr>
  </thead>
  <tbody>
  <tr class="mat-row" *ngFor="let operation of operations">
    <mat-checkbox *ngIf="user && !user.roles.includes('ROLE_CLIENT')" class="example-margin" [checked]="check[operations.indexOf(operation)]" (change)="Check(operation)"></mat-checkbox>
    <td class="mat-cell">{{operation.id}}</td>
    <td class="mat-cell">{{operation.typeOperation.name}}</td>
    <td class="mat-cell">{{operation.typeOperation.price}}</td>
    <ng-container *ngIf="operation.sparePart">
      <td class="mat-cell">{{operation.sparePart.name}}</td>
      <td class="mat-cell">{{operation.sparePart.carBrand}}</td>
      <td class="mat-cell">{{operation.sparePart.carModel}}</td>
      <td class="mat-cell">{{operation.sparePart.price}}</td>
    </ng-container>
  </tr>
  </tbody>
</table>

<div *ngIf="user">
  <button *ngIf="user.roles.includes('ROLE_MASTER')" (click)="Edit()">Edit operation</button>
  <button *ngIf="user.roles.includes('ROLE_ADMIN')" (click)="Delete()">Delete operation</button>
</div>
