<mat-form-field>
  <input matInput required placeholder="Address" name="address" [(ngModel)]="editingService.address">
</mat-form-field>

<h3>Masters</h3>
<table class="mat-table" *ngIf="masters; else noMasters">
  <thead>
  <tr class="mat-header-row">
    <th class="mat-header-cell">Name</th>
    <th class="mat-header-cell">Birthday</th>
    <th class="mat-header-cell">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr class="mat-row" *ngFor="let master of masters">
    <mat-checkbox class="example-margin" [checked]="checkMaster[masters.indexOf(master)]" (change)="CheckMaster(master)"></mat-checkbox>
    <td class="mat-cell" routerLink="/Master/{{master.id}}">{{master.fullName}}</td>
    <td class="mat-cell" routerLink="/Master/{{master.id}}">{{master.birthDay}}</td>
    <td class="mat-cell" routerLink="/Master/{{master.id}}">{{master.phoneNumber}}</td>
  </tr>
  </tbody>
</table>

<ng-template #noMasters>
  <p>no masters</p>
</ng-template>

<h3>Parts</h3>
<table class="mat-table" *ngIf="countSpareParts; else noParts">
  <thead>
  <tr class="mat-header-row">
    <th class="mat-header-cell">Count</th>
    <th class="mat-header-cell">Name</th>
    <th class="mat-header-cell">Car Brand</th>
    <th class="mat-header-cell">Car Model</th>
    <th class="mat-header-cell">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr class="mat-row" *ngFor="let part of countSpareParts">
    <td class="mat-cell" >
      <input type="number" name="partsCount" min="0" max="99999" [value]="part.count" (change)="ChangePartsCount($event, part)">
    </td>
    <td class="mat-cell" >{{part.sparePart.name}}</td>
    <td class="mat-cell" >{{part.sparePart.carBrand}}</td>
    <td class="mat-cell" >{{part.sparePart.carModel}}</td>
    <td class="mat-cell" >{{part.sparePart.price}}</td>
  </tr>
  </tbody>
</table>

<ng-template #noParts>
  <p>no parts</p>
</ng-template>

<button (click)="Submit()" routerLink="/Service/Post">Submit</button>
<button routerLink="/Services">Cancel</button>
