<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="toolbar" #container>
  <button mat-icon-button (click)="sidenav.toggle(); Toogle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/">{{title}}</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #sidenav mode="push" class="sidenav">
    <div>
      <button class="nav-button" mat-button routerLink="/Services">Services</button>
    </div>
    <div>
      <button class="nav-button" mat-button routerLink="/Masters">Masters</button>
    </div>
    <div>
      <button class="nav-button" mat-button routerLink="/Contacts">Contacts</button>
    </div>

    <hr class="divider">

    <div>
      <div>
        <button class="nav-button" mat-button routerLink="SignIn">Sign in</button>
      </div>
      <div *ngIf="currentUser">
        <button class="nav-button" mat-button (click)="sidenav.toggle()">{{currentUser.email}}</button>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
