.toolbar {
  height: 50px;
}

.sidenav-container {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav {
  width: 200px;
}

.nav-button {
  width: 200px;
}

.divider {
  background: #ddd;
  width: 90%;
  border: 0;
  height: 1px;
  margin: 5px 5% 5px 5%;
}
