<table class="mat-table">
  <thead>
    <tr class="mat-header-row">
      <th></th>
      <th class="mat-header-cell">ID</th>
      <th class="mat-header-cell">Creation time</th>
      <th class="mat-header-cell">Completion time</th>
      <th class="mat-header-cell">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr class="mat-row" *ngFor="let request of client.requests">
      <mat-checkbox class="example-margin" [checked]="check[client.requests.indexOf(request)]" (change)="Check(request)"></mat-checkbox>
      <td class="mat-cell">{{request.id}}</td>
      <td class="mat-cell">{{request.dateTimeCreation}}</td>
      <td class="mat-cell">{{request.dateTimeCompletion}}</td>
      <td class="mat-cell">
        <p *ngFor="let operation of request.necessaryOperations">{{operation.typeOperation.name}}({{operation.carBrand}} {{operation.carModel}})</p>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="user">
  <button (click)="Edit()" routerLink="/Request/Post">Add/Edit request</button>
  <button (click)="Delete()">Delete request</button>
</div>
