<table class="mat-table">
  <thead>
  <tr class="mat-header-row">
    <th class="mat-header-cell">address</th>
  </tr>
  </thead>
  <tbody>
  <tr class="mat-row" *ngFor="let client of clients">
    <mat-checkbox *ngIf="user && user.roles.includes('ROLE_ADMIN')" class="example-margin" [checked]="check[clients.indexOf(client)]" (change)="Check(client)"></mat-checkbox>
    <td class="mat-cell" routerLink="/Client/{{client.id}}">{{client.fullName}}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="user && user.roles.includes('ROLE_ADMIN')">
  <button (click)="Delete()">Delete</button>
</div>
