<form>
  <div>
    <mat-form-field hintLabel="Separate emails with a comma">
      <input required matInput placeholder="E-mails" name="email" [(ngModel)]="emailsInput">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input required matInput placeholder="Subject" name="subject" [(ngModel)]="subject">
    </mat-form-field>
  </div>
  
  <mat-tab-group (selectedTabChange)="isTemplate = !isTemplate">
    <mat-tab label="Message">
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Message" name="message" [(ngModel)]="messageInput"></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Template" *ngIf="templates">
      <mat-form-field>
        <mat-select placeholder="Template" [(value)]="chosenTemplateId">
          <mat-option *ngFor="let template of templates" value="{{template.id}}">
            {{ template.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>

  <button (click)="Submit()">Send</button>
</form>
